body {
   margin: 0;
   overflow-x: hidden; !important
}
.header{
   width: 100%;
   height: 1164px;
}
.header__head{
   width: 100%;
   height: 75px;
   background-color: black ;
}
.header__head__logo{
   margin-left: 116px;
   padding-top: 19px ;
   display: inline-block;
}
.header__head__menu{
   float: right;
   display: flex;
   margin-right: 170px;
}
.header__main{
   width: 100%;
   background:
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../img/city.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.header__main__left_text{
   width: 670px;
   font-family: Raleway,  sans-serif;
   font-size: 48px;
   font-weight: 500;
   text-align: left;
   color: white;
   line-height: 56.35px;
   margin-top: 72.88px;
}
.header__main__left_separator{
   width: 170px;
   height: 0px;
   border-bottom: 1px solid white;
   margin-top: 55.12px;
}
.header__main__left_smalltext{
   width: 270px;
   height: 42px;
   color: white;
   font-family: Raleway, sans-serif ;
   font-size: 18px;
   font-weight: 400;
   line-height: 21.13px;
   text-align: left;
   margin-top: 42px;
   margin-bottom: 42px;
}
.header__main__left_button{
   border: 2px solid white;
   background-color: rgba(28,28,28,0);
   color: white;
   width: 270px;
   height: 58px;
   font-weight: 600;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
}
.header__main__right{
   width: 470px;
   height: 450px;
   background-color: white;
   border-radius: 10px;
}
.header__main__right__text{
   width: 367px;
   height: 90px;
   font-size: 24px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   color: #333333;
   display: flex;
   align-items: center;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 45px;
}
.header__main__right__free{
   white-space: pre-wrap;
   color: #EC7979;
}
.header__main__right__inputone{
   outline: none;
   border-bottom: 1px solid #BDBDBD !important;
   border: 0px ;
   width: 100%;
   color: black;
   margin-bottom: 30px;
   padding-bottom: 16px;
   
}
.header__main__right__button{
   background: #EC7979;
   border-radius: 0px 0px 10px 10px;
   width: 100%;
   height: 60px;
   border: 0px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 15px;
   color: white;
   cursor: pointer;
   margin-top: 13px;
}
.header__footer{
   width: 100%;
   height: 140px;
   background-color: #F8EFEF;
   display: flex;

}
.header__footer__left__title{
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 24px;
   width: 470px;
   height: 60px;
   color: #333333;
   margin-bottom: 18px;
   display: flex;
   align-items: center;
}
.header__footer__left__text{
   color: #86878B;
   width: 470px;
   height: 42px;
   line-height: 21px;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
}
.header__footer_right__img{
   width: 100%;
   height: 100%;
}
.header__footer__right{
   display: flex;
   align-items: center;
   gap: 30px;
   margin-top: 30px;
}
.header__main__left_button:hover{
   border: 2px solid #EC7979;
   color: #EC7979;
}
.header__main__left_button:active{
   background-color: #AB4949 ;
   border: 2px solid #AB4949;
   color: #FFFFFF;
}
.header__main__right__button:hover{
   background-color: #AB4949;
}
.header__main__right__button:active{
   background-color: #EC7979;
}
.fon{
   background: rgba(0, 0, 0, 0.5) !important;
   position: relative;
   height: 952px;
}
.leftandright{
   width: 1170px;
   display: flex;
   gap: 30px;
   margin: 0 auto;
   align-items:center ;
   padding: 210px 170px 185px;
}
.header__head__menu__link{
   color: white;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   width: 113.8px;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
}
a{
   text-decoration: none;
}
a:link{
   color: white;
}
a:visited{
   color: white;
}
.header__head__menu__link:hover{
   background-color: #EC7979;
}
.header__head__menu__link:active{
   background-color:  #AB4949;
}
.footercont{
   padding: 0 170px 18px 170px;
   display: flex;
   align-items: center;
   gap: 50px;
   margin: 0 auto;
}  
.threeinput{
   padding: 0 50px 50px;
}
.header__head__menutwo{
   display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1509px){
   .header__head__menu {
      margin-right: 20px;
   }
   .header__head__menu__link {
      width: 95px;
   }
   .leftandright{
      padding: 140px 0 106px 115px;
      width: auto;
   }
   .header__main__left_text {
      width: 450px;
      font-size: 36px;
      line-height: 42px;
   }
   .header__main__left_separator {
      width: 115px;
      margin-top: 40px;
   }
   .header__main__left_smalltext{
      width: 183px;
      font-size: 14px;
      line-height: 16px;
      margin-top: 31px;
   }
   .header__main__left__button{
      width: 183px;
   }
   .header__main__right{
      width: 398px;
   }
   .header__main__right__text{
      width: 298px;
      font-size: 18px;
   }
   .header__footer__left{
      padding: 0 15px;
      width: 320px;
   }
   .footercont{
      padding: 0 10px 20px;
      gap: 50px;
   }
   .header__footer__left__title{
      font-size: 18px;
   }
   .header__footer__left__text{
      font-size: 14px;
      line-height: 16px;
      width: 350px;
   }
   .header__footer_right__img{
      width: 64px;
      height: 64px;
   }
   .header__footer__right{
      gap: 25px;
   }
   .header{
      height: 873px;
   }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
   .header__head__menu{
      display: none;
   }
   .header__head__logo{
      margin-left: 20px;
   }
   .header__main__left__logo{
      display: none;
   }
   .header__main__left_text{
      width: 288px;
      text-align: center;
      margin: 0;
      font-size: 36px;
      line-height: 42px;
   }
   .header__main__left_separator{
      width: 134px;
      margin: 34px auto;
   }
   .header__main__left_smalltext{
      width: 288px;
      text-align: center;
      margin-top: 42px;
      line-height: 16px;
      font-size: 14px;
   }
   .header__main__left__button{
      width: 288px;
      height: 50px;
   }
   .leftandright{
      flex-direction: column;
      padding: 84px 16px 50px;
      width: 288px;
      gap: 0px;
   }
   .header__main__right{
      width: 299px;
      height: 381px;
      margin-top: 56px;
   }
   .header__main__right__text{
      width: 240px;
      font-size: 14px;
      justify-content: center;
      margin-bottom: 0;
   }
   .threeinput{
      padding: 0 28px 0 20px;
   }
   .header__main__right__button{
      margin-top: 39px;
   }
   .header__footer__left__title{
      width: 287px;
      font-size: 18px;
      text-align: center;
      height: 45px;
      justify-content: center;
   }
   .header__footer__left__text{
      width: 271px;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      margin: 0 auto;
   }
   .header__footer_right__img{
      width: 26px;
      height: 26px;
   }
   .f{
      width: 26px;
      height: 26px;
   }
   .header__footer__right{
      gap: 10px;
      margin-top: 0;
   }
   .footercont{
      flex-direction: column;
      padding: 31px 16px 45px ;
   }
   .header__footer{
      height: 230px;
   }
   .header__head__menutwo{
      padding-top: 25px;
      padding-right: 30px;
      display: block;
      height: 18px;
      width: 24px;
      float: right;
   }
}