.contact{
   width: 1170px;
   height: 622px;
   margin: 50px auto;
}
.contact__title{
   width: 1170px;
   height: 150px;
   font-size: 36px;
   font-family: 'Raleway';
   font-weight: 400px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contact__separator{
   width: 170px;
   border-bottom: 1px solid #EC7979 ;
   margin: 0 auto;
}
.contact__text{
   margin-left: auto;
   margin-right: auto;
   font-family: 'Raleway';
   font-size: 18px;
   text-align: center;
   color: #86878B;
   margin-top: 40px;
}
.contact__left{
   display: flex;
   flex-direction: column;
}
.contact__left__input{
   outline: none;
   border-bottom: 1px solid #BDBDBD !important;
   border: 0px ;
   width: 571px;
   color: black;
   margin-bottom: 50px;
   padding-bottom: 16px;
   font-family: 'Open Sans';
   font-weight: 400;
}
.contact__allinputs{
   display: flex;
   align-items: flex-start;
   margin-top: 89px;
   flex-wrap: wrap;
   width: 1180px;
}
.contact__right__textarea{
   outline: none;
   border-bottom: 1px solid #BDBDBD !important;
   border: 0px ;
   width: 569px;
   color: black;
   margin-left: 19px;
   padding-bottom: 173px;
   resize: none;
   font-family: 'Open Sans';
   font-weight: 400;
}
.contact__button{
   background-color: #EC7979 ;
   color: white;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   height: 58px;
   width: 370px;
   border: 0px;
   cursor: pointer;
   margin-left: 401px;
}
input::-webkit-input-placeholder{
   color: #BDBDBD;
}
textarea::-webkit-input-placeholder{
   color: #BDBDBD;
}
.contact__button:hover{
   background-color: #AB4949;
}
.contact__button:active{
   background-color: #EC7979;
}


@media screen and (min-width: 1024px) and (max-width: 1509px){
   .contact{
      width: 992px;
      height: 562px;
      padding: 50px 16px 0;
   }
   .contact__title{
      width: 992px;
      height: 120px;
      font-size: 24px;
   }
   .contact_separator{
      width: 144px;
   }
   .contact__text{
      width: 992px;
      height: 16px;
      font-size: 14px;
   }
   .contact__left__input{
      width: 486px;
   }
   .contact__right__textarea{
      width: 470px;
   }
   .contact__allinputs{
      width: 992px;
   }
   .contact__button{
      margin: 0 auto;
   }
}