.customers{
   width: 1170px;
   height: 630px;
   margin: 0 auto;
   padding-bottom: 25px;
}
.customers__title{
   width: 1170px;
   height: 150px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
}
.customers__separator{
   border-bottom: 1px solid #EC7979;
   width: 170px;
   margin: 0 auto;
}
.customers__text{
   color: #86878B;
   font-size: 18px;
   font-family: 'Raleway';
   width: 1169px;
   height: 21px;
   text-align: center;
   margin: 40px auto 0;
}
.customers__customer{
   width: 370px;
   height: 336px;
   margin-top: 83px;
   display: flex;
}
.customers__customer__text{
   background-color: #E2E2E2;
   border-radius: 10px;
   width: 370px;
   height: 180px;
   color: #86878B;
   font-family: 'Raleway';
   font-weight: 400; 
   font-size: 18px;
   display: flex;
   align-items: center;
   text-align: center;
   line-height: 21px;
}
.customers__customer__block{
   width: 20px;
   height: 20px;
   background: #E2E2E2;
   transform: rotate(-45deg);
   position: relative;
   left: 70px;
   bottom: 10px;
}
.customers__customer__img{
   padding-top: 40px;
   width: 70px;
   height: 70px;
}
.customers__customer__name{
   font-size: 24px;
   width: 269px;
   height: 54px;
   font-family: 'Open Sans';
   font-weight: 700;
   display: flex;
   align-items: center;
   padding-top: 45px;
  
}
.customers__customer__manager{
   width: 270px;
   height: 21px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   padding-top: 15px;
}
.customer{
   margin: 0 30px;
}
.customer__block{
   display: flex;
   height: 150px;
}
.onemoreblock{
   padding-left: 30px;
}
.customersbg{
   width: 100%;
   height: 744px;
}
.dots{
   display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1509px){
   .customers{
      width: 992px;
      height: 509px;
      padding: 0 16px;
   }
   .customers__title{
      width: 992px;
      height: 120px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .customers__separator{
      width: 142px;
   }
   .customers__text{
      width: 992px;
      font-size: 14px;
   }
   .customers__customer__text{
      width: 317px;
      height: 180px;
      font-size: 14px;
      line-height: 16px;
   }
   .customers__customer__img{
      width: 63px;
      height: 63px;
   }
   .onemoreblock{
      padding-left: 22px;
   }
   .customer{
      margin: 0 20px;
   }
   .customers__customer__manager{
      padding-top: 9px ;
   }
   .customers__customer__name{
      width: 230px;
      height: 36px;
      font-size: 18px;
   }
   .customers__customer__manager{
      width: 231px;
      height: 16px;
      font-size: 14px;
   }
   .customersbg{
      height: 616px;
   }
}
@media screen and (min-width: 320px) and (max-width: 1023px){
   .customers__title{
      width: 288px;
      font-size: 24px;
      height: 120px;
      text-align: center;
      line-height: 28px;
   }
   .customers__separator{
      width: 134px;
   }
   .customers__text{
      width: 288px;
      height: 32px;
      font-size: 14px;
      text-align: center;
      line-height: 16px;
      margin-top: 24px;
   }
   .customers{
      width: 288px;
      height: auto;
   }
   .cone{
      display: none;
   }
   .cthree{
      display: none;
   }
   .customers__customer__text{
      width: 288px;
      height: 180px;
      font-size: 14px;
      text-align: center;
      line-height: 16px;
   }
   .customers__customer__img{
      width: 57px;
      height: 57px;
   }
   .customers__customer__name{
      width: 204px;
      font-size: 14px;
      padding-top: 20px;
   }  
   .customers__customer__manager{
      width: 205px;
      font-size: 13px;
   }
   .customers__customer{
      width: 288px;
      margin-top: 24px;
   }
   .customer{
      margin: 0;
   }
   .dots{
      display: block;
      width: 129px;
      height: 10px;
      margin: 0 auto;
   }
.customersbg{
   height: auto;
}



}