.stylish{
   width: 100%;
   height: 442px;
   background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url(../img/bg4.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.stylish__title{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   color: white;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: 0 auto;
   width: 1170px;
   height: 150px;
   padding-top: 50px;
}
.stylish__separator{
   border-bottom: 1px solid white;
   width: 170px;
   margin: 0 auto;
}
.stylish__text{
   width: 1169px;
   height: 21px;
   margin: 40px auto 0;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   text-align: center;
   color: white;
}
.stylish__button{
   color: white;
   border: 2px solid white;
   width: 370px;
   height: 58px;
   background-color: rgba(28,28,28,0);
   font-family: 'Open Sans';
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 71px auto 0;
   cursor: pointer;
}
.stylish__button:hover{
   border: 2px solid #EC7979;
   color: #EC7979;
}
.stylish__button:active{
   background-color: #AB4949 ;
   border: 2px solid #AB4949;
   color: #FFFFFF;
}
.containerone{
   width: 1170px;
   margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1509px){
   .containerone{
      width: 1024px;
      height: 358px;
   }
   .stylish__title{
      width: 992px;
      height: 120px;
      font-size: 24px;
   }
   .stylish__separator{
      width: 142px;
   }
   .stylish__text{
      font-size: 14px;
      width: 992px;
      height: 16px;
   }

}