.main__tab{
   width: 1170px;
   height: 501px;
   margin-top: 100px !important;
   border: 1px solid #C6CBCD; 
}
.main__tab__left__smalltab{
   display: inline-block;
   height: 40px;
   width: 188px;
   font-weight: 400;
   font-size: 14px;
   text-align: center;
   font-family: 'Open Sans';
   line-height: 19px;
   display: table-cell;
   vertical-align: middle;
}
.main__tab__left__title{
   width: 570px;
   height: 124px;
   font-family: 'Open Sans';
   font-size: 30px;
   font-weight: 700;
   line-height: 41px;
   padding-left: 100px;
   display: table-cell;
   vertical-align: middle;
   padding-bottom: 27px;
}
.main__tab__left__text{
   height: 210px;
   width: 570px;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   text-align: left;
   margin-left: 100px;
}
.main__tab__left__button{
   background-color: #EC7979;
   height: 58px;
   width: 270px;
   border: 0px;
   margin-left: 100px;
   position: relative;
   top: 44px;
   font-family: 'Open Sans';
   font-size: 18px;
   font-weight: 600;
   line-height: 25px;
   color: white;
}
.main__tab__img{
   width: 470px;
   height: 501px;
   margin-left: 26px;
}
.main__tab__right{
   display: inline-block;
}
.main__tab__left{
   display: inline-block;
   position: relative;
   bottom: 104px;
   right: 1px;
}
.specialtab{
   border: 1px solid white;
   border-top: 1px solid #C6CBCD ;
   border-left: 1px solid #C6CBCD ;
   border-right: 1px solid #C6CBCD ;
   border-radius: 8px 8px 0px 0px;
   background-color: white;
}

.main__tab__left__button:hover{
   background-color: #AB4949;
}
.main__tab__left__button:active{
   background-color: #EC7979;
}
